* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Utility class */
.section-header {
    padding-right: 40px;
}

.btn-blu {
    background-color: rgb(72, 112, 255);
    color: white;
    padding: 8px 16px;
    font-weight: 300;
}

.fa-arrow-down {
    font-size: 40px;
    font-weight: 900;
    padding-top: 40px;
}




/* normal */
header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img {
    padding-right: 40px;
}

.container-header-sinistra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.jumbotron {
    width: 100%;
    padding: 80px 20%;
    background-color: rgb(187, 213, 229);
}

.jumbotron h1 {
    font-size: 66px;
    font-weight: 900;
    padding-bottom: 10px;
}

.jumbotron-text p {
    padding: 30px 0;
}

.section-jumbotron {
    display: flex;
    justify-content: space-between;

}

.jumbotron-text {
    flex-basis: 40%;
}

.jumbotron-img {
    flex-basis: 60%;
}

.jumbotron-img img {
    max-width: 120%;
    padding-top: 30px;
}