* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Utility class */
.section-header {
    padding-right: 40px;
}

.btn-blu {
    background-color: rgb(52, 86, 255);
    color: white;
    padding: 7px 16px;
    font-weight: 300;
}




/* normal */
header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > img {
    padding-right: 40px;
}

.container-header-sinistra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}