* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Utility class */
.section-header {
    color: black;
    padding-right: 40px;
    padding-top: 28px;
    padding-bottom: 28px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.bordino-header:hover {
    border-bottom: 2px solid rgb(181, 181, 181);
}

.btn-blu {
    background-color: rgb(1, 97, 253);
    color: white;
    padding: 8px 16px;
    font-weight: 300;
}

.margin-btn {
    margin-top: 20px;
}

.margin-p {
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(181, 181, 181);
}

.btn-white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-weight: 300;
    border: 1px solid rgb(55, 55, 55);
}

.fa-arrow-down {
    font-size: 40px;
    font-weight: 900;
    padding-top: 40px;
    text-decoration: none;
    color:black;
    transition: transform 0.3s;
}

.widht-page {
    width: 100%;
    padding: 40px 25%;
}

.point-list-none {
    list-style: none;
    padding-bottom: 30px;
}

.point-list-none li {
    position: relative;
    padding-left: 22px;
    padding-bottom: 16px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 3px;
    left: 0;
}

.blu {
    color: blue;
}

#funzioni, #piani-e-prezzi, #contatta-ufficio-vendite, #Dropbox {
    scroll-margin-top: 60px;
}




/* normal */
header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(240, 240, 240);
}

.logo > img {
    padding-right: 40px;
}

.container-header-sinistra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.jumbotron {
    width: 100%;
    padding: 80px 20%;
    background-color: rgb(187, 213, 229);
}

.jumbotron h1 {
    font-size: 66px;
    font-weight: 900;
    padding-bottom: 10px;
}

.jumbotron-text p {
    padding: 30px 0;
}

.section-jumbotron {
    display: flex;
    justify-content: space-between;

}

.jumbotron-text {
    flex-basis: 40%;
}

.jumbotron-img {
    flex-basis: 60%;
}

.jumbotron-img img {
    max-width: 120%;
    padding-top: 30px;
}

/* pagina dei prezzi */

#price-page-title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 40px;
}

.box {
    padding-left: 10px;
    margin-right: 50px;
}

.container-prices-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px 0;
}

.prices-list-singol {
    width: calc(100% / 3 - (60px /3));
    font-size: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 200, 200);
}

.prices-list-title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.prices-list-text {
    padding: 10px 22px;
}

.prices-list-text2 {
    padding: 10px 24px;
    display: flex;
}

.section-prices-list-text2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 40%;
}

.prices-list-singol p {
    padding-bottom: 16px;
}

.prices-list-singol h3 {
    font-size: 20px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.last-list {
    width: 100%;
    margin-bottom: 80px;
}

.container-partnership {
    display: flex;
    margin-bottom: 40px;
}

.section-img img {
    width: 100%;
}

.section-img {
    flex-basis: 60%;
}

.section-text {
    flex-basis: 40%;
    padding: 50px 40px;
}

.section-text p {
    padding: 20px 0;
    font-size: 14px;
    margin-bottom: 20px;
}

/* container info, la parte prima del footer */

#info-title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.section-info {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - (50px /3));
    
}

.container-info-img img {
    width: 100%;
}

#pre-footer-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 60px;
    padding-top: 90px;
}

/* background footer */

.bg-footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 80px 15%;
    margin-top: 130px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.section-footer {
    display: flex;
    flex-direction: column;
    line-height: 2.2;
    font-weight: 300;
}

.section-footer h3 {
    padding-bottom: 10px;
}

#linguaggio {
    width: 120px;
    padding-top: 40px;
    padding-right: 50px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(181, 181, 181);
    border-top: 1px solid rgb(255, 255, 255)
}